.Indigo-Dancing-Poppy-Bandana-by-BLU-KIT-1-hex { color: #F23545; }
.Indigo-Dancing-Poppy-Bandana-by-BLU-KIT-2-hex { color: #022859; }
.Indigo-Dancing-Poppy-Bandana-by-BLU-KIT-3-hex { color: #0468BF; }
.Indigo-Dancing-Poppy-Bandana-by-BLU-KIT-4-hex { color: #023059; }
.Indigo-Dancing-Poppy-Bandana-by-BLU-KIT-5-hex { color: #A6460F; }

/* Color Theme Swatches in RGBA */
.Indigo-Dancing-Poppy-Bandana-by-BLU-KIT-1-rgba { color: rgba(242, 53, 69, 1); }
.Indigo-Dancing-Poppy-Bandana-by-BLU-KIT-2-rgba { color: rgba(1, 39, 89, 1); }
.Indigo-Dancing-Poppy-Bandana-by-BLU-KIT-3-rgba { color: rgba(3, 103, 191, 1); }
.Indigo-Dancing-Poppy-Bandana-by-BLU-KIT-4-rgba { color: rgba(1, 48, 89, 1); }
.Indigo-Dancing-Poppy-Bandana-by-BLU-KIT-5-rgba { color: rgba(165, 70, 14, 1); }